* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



body {
  background-color: #121212;
}

.container__movies-cards {
  padding: 100px;
}

.container__movies-hero {
  height: 100vh;
  background: url("./assets/Poster.svg");
  opacity: 0.6;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container__movies-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.container__movies-pagination h2 {
  color: #7777d0;
}

.container__movies-pagination button {
  background-color:transparent;
  padding: 10px;
  border: none;
  border-radius: 50%;
}

.container__movies-pagination button:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: scale(1.3);
}

.container__movies-pagination .icon {
  font-size: 30px;
  color: #AEAEAE;
}

.container_admin-dashboard {
  padding: 160px 0px 20px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_admin-options {
  width: 60%;
  margin: 0px auto;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.container_admin-options a:visited {
  color: #AEAEAE;
}

.container__upper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
}

.container__card-general {
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 20px;
  text-align: center;
  border: 2px solid #5959594b;
  border-radius: 10px;
}

.container__card-general:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 10px 10px 20px -5px #eeeeeea0;
}

.container__card-interno img {
  width: 200px;
  height: 200px;
  padding: 20px 0;
}


.container__card-interno p {
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #5C5D75;

}

.container__card-interno span {
  color: rgba(255, 255, 255, 0.738);
} 

.container-table-general {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-table {
  /* background-color: red; */
  width: 90%;
  margin: 40px;
}

.text-th {
  text-transform: uppercase;
  color: white;
  padding: 30px;
}

#td-img-table {
  width: 50px;
  margin: 0px auto;
}

.row-table td {
  margin: 0px auto;
  width: 400px;
}

.row-table td {
  text-align: center;
}

#img-table {
  width: 150px;
  height: 150px;
}

thead {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

th, td {
  border: 2px solid #6d6d8a;
  padding: 8px 15px;
  color: rgb(174, 174, 174);
}